body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

.grid-item { width: 200px; }

.btn-hover {
  &:hover{
    transform: translateY(-2px);
  }
}

.unify-cart-height{
  height: 400px;
  .card-body{
    overflow: auto;
  }
}